.idea/
**/.vscode/*
build/
lib/
bin/

showcase/showcase
showcase/*.bmp
tools/*/*.exe
tools/*/*.png
tools/*/*.bm
tools/*/*.plt

# Showcase stuff
showcase/memory\.log
showcase/game\.log
