.idea/
**/.vscode/*
ace\.code-workspace

build/
lib/
bin/

# Showcase
showcase/showcase
showcase/*.bmp
showcase/memory\.log
showcase/game\.log

# Tools
tools/*/*.exe
tools/*/*.png
tools/*/*.bm
tools/*/*.plt

*.dasm

showcase/NUL
